---
layout: default
title: About
order: 2
---


<div class="row start-xs top-xs">
    <div class="col-sm-6 col-xs-12">
        <h3><i class="fal fa-long-arrow-down"></i></h3>
        {% include about.html %}
        {% include social.html %}
        <br>
        {% include form.html %}
    </div>
    <div class="col-sm-6 col-xs-12">
        <figure><img src="{{ site.image }}" alt="Christopher Norris">
        <figcaption>Photo from <a href="https://en.wikipedia.org/wiki/Taliesin_West" target="_blank">Tallesin West</a> taken by <a href="https://www.instagram.com/jasmineparsia/" target="_blank">Jasmine Parsia</a></figcaption>
        </figure>
        <blockquote>"...toward an ever more inclusive and reining comprehension by all humanity — regarding all the factors covering omnicontinuing life aboard our spaceship Earth — can bring about reorientation from the self-extinction-bound human trending"</blockquote>
        <a href="https://www.brainpickings.org/2013/03/08/buckminster-fuller-synergetics/" target="_blank" class="quote-source">Operating Manual for Spaceship Earth, Buckminster Fuller</a>
    </div>
</div>