---
layout: home
title: Home
---

<div class="home full row">
    <div class="col-xs-11 col-sm-8 col-lg-6">
        <h3>Currently unfolding a design language in San Francisco with <a href="https://www.mosaic.us/" target="_blank">Mosaic Building Group</a>. Previoiusly voyaged into the outer limits of <a href="https://alder.world">Alderworld</a> with a team of close friends and collaborators in Burlington, Vermont.</h3>
        {% for page in site.pages %}
        <li class="row start-xs"><a href="{{ page.url}}">{{ page.title }}</a></li>
        {% endfor %}
        {% include social.html %}
    </div>
</div>
