<!DOCTYPE html>
<html lang="en-US">
<head>
    
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
    
<link rel="icon" href="{{ site.baseurl }}assets/images/logo/favicon.png" sizes="16x16" type="image/png">

<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="http://cr-norris.com">

<link rel="stylesheet" href="{{ site.baseurl }}assets/css/site.css" type="text/css">
    
<link rel="stylesheet" href="{{ site.baseurl }}assets/css/flexboxgrid.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
      

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno" crossorigin="anonymous">
    
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77575154-3"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-77575154-3');
</script>
      
</head>