<div class="nav-trigger-desktop close">
    <span class="bar"><a href="/"><img src="/assets/images/logo/black.svg"></a></span></div>

<div class="nav-trigger-mobile close">
    <span class="bar"><img src="/assets/images/logo/black.svg"></span>
</div>

<div class="is-showing close icon">
    <div class="nav-close-icon"><img src="/assets/images/icons/menu-icon-close.svg"></div>
</div>

<div id="navigation" class="outside nav-trigger-menu ">
    <div class="inside">
        <div class="row">
            <div class="col-xs-12">
                <a href="/" class="title">
                <b>Christopher Norris</b></a>
                <div class="subtitle">Generalist, Enthusiast</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                 <p>⚠️ Spring Cleaning</p>
                
                <p>I’ll be adding new writing and projects on this site soon; in the meantime please send me get in touch on my <a href="/about/">about page</a> if you'd like to say hello, or visit <a href="https://alder.world" target="_blank">Alder</a> to see what we've been working on in the studio. </p>
            </div>
        </div>
        <div class="row start-xs"><div class="col-xs-12 row middle-xs start-xs">
            <div class="icon">
                <a href="https://alder.world" target="_blank"><img src="/assets/images/icons/alder.svg"></a>
            </div>
            <div class="icon">
                <a href="https://www.are.na/christopher-norris-1507041170/index" target="_blank"><img src="/assets/images/icons/arena.svg"></a>
            </div>
            </div>
        </div>
    </div>
</div>